[Unit]
Description=Matterbot
After=network-online.target

[Service]
ExecStart=/opt/matterbot/run.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
